{% load static %}

	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>




  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">

    <div class="container d-flex align-items-center">


        <a href="/" class="logo me-auto"><img src="{% static "image/cpunca6.png" %}" alt=""></a>

      <nav id="navbar" class="navbar navbar-expand-lg order-last order-lg-0 " >
          <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        <ul>
                <!--<li style="margin-bottom: 8px; padding-top: 10px;"><a class="nav-link hidden active "  href="/" ><b>INICIO</b></a></li>-->
            <li style="margin-bottom: 8px;"><a class="nav-link hidden " href="/copa_unca"><b><i style="font-size: 18px; color: #009813;" class="fa fa-star"></i> DEPORTES</b></a></li>
                <li style="margin-bottom: 8px;"><a class="nav-link hidden " href="/resultados_copa_unca"><b><i style="font-size: 18px; color: #009813;" class="fa fa-check-circle"></i> RESULTADOS</b></a></li>
            <li style="margin-bottom: 8px;"><a class="nav-link hidden " href="/tabla_posiciones_copa_unca"><b><i style="font-size: 18px; color: #009813;" class="fa fa-table"></i> POSICIONES</b></a></li>
            <li style="margin-bottom: 8px;"><a class="nav-link hidden " href="/campeones_copa_unca"><b><i style="font-size: 18px; color: #009813;" class="fa fa-trophy"></i> CAMPEONES</b></a></li>
            <li style="margin-bottom: 8px; "><a style=" color: #009813;" class="nav-link hidden " href="#"><b><i style="font-size: 18px; color: #009813;" class="fa fa-ticket"></i> ENTRADAS</b></a></li>



            <!--<li><a class="nav-link hidden  " style="background-color: #009813; color: white; border-radius: 10px;" href="/gestion"><b> &nbsp;&nbsp;<i style="font-size: 18px" class="fa fa-ticket"></i> ENTRADAS&nbsp;&nbsp; </b></a></li>-->

        </ul>



      </nav><!-- .navbar -->



    </div>
  </header><!-- End Header -->


