{% include "headercpunca.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cupingcss/stylecup.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <style>
        /* Estilos para agregar espacio entre partidos */
        .partido-container {
            margin-bottom: 20px;
        }

        /* Estilos para resaltar los partidos */
        .partido {
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .partido:hover {
            background-color: #e5e5e5;
        }

        .hidden {
          display: none;
        }
        .select2-container--default .select2-selection--single {
            border-radius: 20px !important;
            width: 100% !important;
            box-sizing: border-box;
            border: 1px solid #ccc;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            border-radius: 20px !important;
        }
        .select2-container--default .select2-search {
            display: none !important;
        }
        .select2-container--default .select2-results__option--highlighted {
            background-color: #009813 !important;
            color: white !important;
        }
    </style>
</head>
<body>

    <!-- Breadcrumb section -->
    <div class="site-breadcrumb"></div>
    <div class="container">
        <ol class="breadcrumb" style="background-color: transparent;"></ol>
    </div>

    <!-- Código Nuevo -->
    <section class="full-courses-section spad pt-0">
        <h5 class="h3-stylecup">Todas las competencias</h5>
        <img style="display: block; margin: 0 auto; max-width: 250px; height: auto;" src="{% static 'image/cpunca6.png' %}"><br><br>

        <div style="text-align: center;">
            <form id="deporteForm" method="get">
                <select id="deporte" name="deporte" style="border-radius: 20px; padding: 15px;">
                    <option value="FUTBOL_FEMENINO" data-icon="fa-solid fa-futbol" {% if request.GET.deporte == "FUTBOL_FEMENINO" %}selected{% endif %}>Fútbol de Campo Femenino</option>
                    <option value="FUTBOL_MASCULINO" data-icon="fa-solid fa-futbol" {% if request.GET.deporte == "FUTBOL_MASCULINO" %}selected{% endif %}>Fútbol de Campo Masculino</option>
                    <option value="FUTSAL_FEMENINO" data-icon="fa-solid fa-futbol" {% if request.GET.deporte == "FUTSAL_FEMENINO" %}selected{% endif %}>Fútbol de Salón Femenino</option>
                    <option value="FUTSAL_MASCULINO" data-icon="fa-solid fa-futbol" {% if request.GET.deporte == "FUTSAL_MASCULINO" %}selected{% endif %}>Fútbol de Salón Masculino</option>
                    <option value="HANDBALL_FEMENINO" data-icon="fa-solid fa-angle-double-down" {% if request.GET.deporte == "HANDBALL_FEMENINO" %}selected{% endif %}>Handball Femenino</option>
                    <option value="HANDBALL_MASCULINO" data-icon="fa-solid fa-angle-double-down" {% if request.GET.deporte == "HANDBALL_MASCULINO" %}selected{% endif %}>Handball Masculino</option>
                    <option value="VOLLEY_FEMENINO" data-icon="fa-solid fa-volleyball" {% if request.GET.deporte == "VOLLEY_FEMENINO" %}selected{% endif %}>Volley Femenino</option>
                    <option value="VOLLEY_MASCULINO" data-icon="fa-solid fa-volleyball" {% if request.GET.deporte == "VOLLEY_MASCULINO" %}selected{% endif %}>Volley Masculino</option>
                    <option value="BASKET_FEMENINO" data-icon="fa-solid fa-basketball" {% if request.GET.deporte == "BASKET_FEMENINO" %}selected{% endif %}>Basquet Femenino</option>
                    <option value="BASKET_MASCULINO" data-icon="fa-solid fa-basketball" {% if request.GET.deporte == "BASKET_MASCULINO" %}selected{% endif %}>Basquet Masculino</option>
                    <option value="FUTBOL_UNIVERSITARIO" data-icon="fa-solid fa-futbol" {% if request.GET.deporte == "FUTBOL_UNIVERSITARIO" %}selected{% endif %}>Fútbol Universitario</option>
                    <option value="PIKI" data-icon="fa-solid fa-volleyball" {% if request.GET.deporte == "PIKI" %}selected{% endif %}>Piki</option>
                    <option value="AJEDREZ" data-icon="fa-solid fa-chess" {% if request.GET.deporte == "AJEDREZ" %}selected{% endif %}>Ajedrez</option>
                    <option value="PING_PONG" data-icon="fa-solid fa-table-tennis" {% if request.GET.deporte == "PING_PONG" %}selected{% endif %}>Ping Pong</option>
                    <option value="ATLETISMO" data-icon="fa-solid fa-biking" data-url="/ciclismo">Ciclismo</option>
                    <option value="ATLETISMO" data-icon="fa-solid fa-running" data-url="/100m">Atletismo</option>
                </select>

            </form>
        </div><br>

        <div class="containerp">
            <!-- Aquí se muestran los resultados de los partidos -->
            <div class="match">
                <!-- Código para mostrar los partidos -->
                {% for partidounca in partidouncas %}
                <div class="match-content">
                    <div class="column">
                        <div class="team team--home">
                            <div class="team-logo">
                                {% if partidounca.equipo_local.imagen %}
                                <img src="{{ partidounca.equipo_local.imagen.url }}" alt="" class="img-stylecup equipo-img">
                                {% endif %}
                            </div>
                            <h2 class="team-name">{{ partidounca.equipo_local.nombre }}</h2>
                            <div class="match-time-lapsed">
                                {% for eventosunca in partidounca.eventosunca_set.all %}
                                    {% if eventosunca.tipo == 'GOOOOL' %}
                                    <i class="fa fa-soccer-ball-o"></i> {{ eventosunca.jugadores }} {{ eventosunca.minuto }}'  <br>
                                    {% endif %}
                                    {% if eventosunca.tipo == 'TARJETA ROJA' %}
                                    <i class="fas fa-square redcard-icon"></i> {{ eventosunca.jugadores }} {{ eventosunca.minuto }}'  <br>
                                    {% endif %}
                                    {% if eventosunca.tipo == 'PUNTO' %}
                                    <i class="fa fa-hashtag"></i> {{ eventosunca.jugadores }} {{ eventosunca.minuto }}'  <br>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="column-match-details">
                        <div class="match-details">
                             <div class="match-referee">
                                <h7 class="h3-stylecup"><strong>{{ partidounca.get_deporte_display }}</strong></h7>
                            </div>
                        
                            <div class="match-date">
                                <strong>{{ partidounca.fecha }}</strong>
                            </div>
                            <div class="match-score">
                                {% for eventopartidounca in partidounca.eventopartidounca_set.all %}
                                {% if eventopartidounca.tipo == 'INICIO DEL PARTIDO' %}
                                <span class="match-score-number">{{ partidounca.goles_local }}</span>
                                <span class="match-score-divider">:</span>
                                <span class="match-score-number">{{ partidounca.goles_visitante }}</span>
                                    {% endif %}
                             {% endfor %}
                            </div>
                        
                            <div class="match-referee">
                                {{ partidounca.partido_numero }}: <strong>{{ partidounca.fase_partido }}</strong>
                            </div><br>
                            {% for eventopartidounca in partidounca.eventopartidounca_set.all %}
                                {% if eventopartidounca.tipo == 'INICIO DEL PARTIDO' %}
                            <button class="match-bet-place"><a style="color: white" href="{% url 'resumen' pk=partidounca.pk %}">RESUMEN</a></button>
                            {% endif %}
                                {% endfor %}
                                </div>
                    </div>
                    <div class="column">
                        <div class="team team--away">
                            <div class="team-logo">
                                {% if partidounca.equipo_visitante.imagen %}
                                <img src="{{ partidounca.equipo_visitante.imagen.url }}" alt="" class="img-stylecup equipo-img">
                                {% endif %}
                            </div>
                            <h2 class="team-name">{{ partidounca.equipo_visitante.nombre }}</h2>
                            <div class="match-time-lapsed">
                                {% for eventosunca in partidounca.eventosunca_set.all %}
                                    {% if eventosunca.tipo == 'GOOOL' %}
                                    <i class="fa fa-soccer-ball-o"></i> {{ eventosunca.jugadores }} {{ eventosunca.minuto }}'  <br>
                                    {% endif %}
                                    {% if eventosunca.tipo == 'TARJETA ROJA ' %}
                                    <i class="fas fa-square redcard-icon"></i> {{ eventosunca.jugadores }} {{ eventosunca.minuto }}'  <br>
                                    {% endif %}
                                    {% if eventosunca.tipo == 'PUNTO ' %}
                                    <i class="fa fa-hashtag"></i> {{ eventosunca.jugadores }} {{ eventosunca.minuto }}'  <br>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                {% endfor %}
            </div>
        </div>

    </section>
<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="section-title text-center">
                <h4><i class="fa fa-newspaper-o"></i> FEUNCA Noticias</h4>
				
			</div>
			<div class="row">
                {% for post in posts %}
				<div class="col-xl-6 col-md-6 col-sm-12">
					<div class="blog-item" id="blogItem">
						<div class="blog-thumb set-bg" data-setbg="{% static "image/" %}{{ post.foto }}"></div>
						<div class="blog-content">
                            <h4><a href="/noticias/{{ post.id }}" style="color:black">{{ post.title }}</a></h4>
							<div class="blog-meta">
								<span><i class="fa fa-calendar-o"></i> {{ post.published_date }} </span>
								<span><i class="fa fa-user"></i> {{ post.author }} </span>
							</div>
							<p>{{ post.text|truncatewords:"25" }}</p>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</section>
	<!-- Blog section -->
    {% include "pie_pagina.html" %}

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#deporte').select2({
            templateResult: function(state) {
                if (!state.id) {
                    return state.text;
                }
                var iconClass = $(state.element).data('icon');
                var $state = $(
                    '<span><i class="' + iconClass + '"></i> ' + state.text + '</span>'
                );
                return $state;
            },
            templateSelection: function(state) {
                if (!state.id) {
                    return state.text;
                }
                var iconClass = $(state.element).data('icon');
                var $state = $(
                    '<span><i class="' + iconClass + '"></i> ' + state.text + '</span>'
                );
                return $state;
            }
        });
    
        $('#deporte').change(function() {
            var selectedOption = $(this).find('option:selected');
            var url = selectedOption.data('url');
    
            if (url) {
                // Si hay una URL asociada, redirigir
                window.location.href = url;
            } else {
                // De lo contrario, enviar el formulario
                $('#deporteForm').submit();
            }
        });
    });
    </script>
</body>
</html>
