{% load static %}


    <!-- Newsletter section -->
	<section class="newsletter-section">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-lg-7">
					<div class="section-title mb-md-0" style="padding-top: 30px; padding-bottom: -10px; margin-bottom: -5px">
                        <h4><i class="fa-regular fa-envelope"></i> Boletín Informativo</h4>
					<p>Suscríbete y recibe las últimas noticias de la FEUNCA</p>
				</div>
				</div>

				<div class="col-md-7 col-lg-5" style="padding-top: 15px; padding-bottom: -10px">

                                    <!-- Begin Mailchimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
                    <div id="mc_embed_signup">
                        <form action="https://fctunca.us21.list-manage.com/subscribe/post?u=c6ccfd73e21de6aae5be25ee6&amp;id=6cf72bd3bd&amp;f_id=00755ae1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="mc-field-group">

                        <input style="border-radius: 10px; padding: 10px" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required placeholder="Ingresa tu email">
                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text" style="background-color: transparent"></span>
                    </div>
                        <div id="mce-responses" class="clear foot" style="background-color: transparent">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c6ccfd73e21de6aae5be25ee6_6cf72bd3bd" tabindex="-1" value=""></div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="SUSCRIBIRME" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #009813; border-radius: 20px; width: 150px; height: 40px; margin-bottom: 30px">
                                    <p  class="brandingLogo"><a href="http://eepurl.com/isQOJ-" title="Mailchimp - email marketing made easy and fun"><img  src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" ></a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone'; /*
 * Translated default messages for the $ validation plugin.
 * Locale: ES
 */
$.extend($.validator.messages, {
  required: "Este campo es obligatorio.",
  remote: "Por favor, rellena este campo.",
  email: "Por favor, escribe una dirección de correo válida",
  url: "Por favor, escribe una URL válida.",
  date: "Por favor, escribe una fecha vlida.",
  dateISO: "Por favor, escribe una fecha (ISO) válida.",
  number: "Por favor, escribe un número entero válido.",
  digits: "Por favor, escribe sólo dígitos.",
  creditcard: "Por favor, escribe un número de tarjeta válido.",
  equalTo: "Por favor, escribe el mismo valor de nuevo.",
  accept: "Por favor, escribe un valor con una extensión aceptada.",
  maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
  minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
  rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
  range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
  max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
  min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
});}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
                        </div>
                    </div>
                </div>
	</section>
	<!-- Newsletter section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container footer-top">
			<div class="row">
				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
					<div class="about-widget" >
                        <a href="/" ><img style="max-width: 100px;" src="{% static "image/logoFEUNCA.png" %}" alt=""></a><br>
						<b>FEDERACIÓN DE<br> ESTUDIANTES DE<br> LA UNIVERSIDAD<br> NACIONAL DE<br> CAAGUAZÚ</b><br><br>
						<div class="social pt-1">
                            <a href="https://www.instagram.com/feuncaoficial/" target="_blank"><i class="fa-brands fa-instagram" ></i></a>
                            <a href="https://www.facebook.com/feunca" target="_blank"><i class="fa-brands fa-facebook-square" ></i></a>
                            <a href="https://wa.link/uenkl3" target="_blank"><i class="fa-brands fa-whatsapp" ></i></a>
                            <a href="mailto:hola@feunca.org" target="_blank"><i class="fa fa-envelope" ></i></a>

						</div>
					</div>
				</div>
				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
    <h6 class="fw-title"><i class="	fas fa-tasks"></i> EXPLORE</h6>
    <div class="double-link">
        <ul style="list-style: none; padding-left: 0;">
            <li style="margin-bottom: 5px;">
                <i class="fa fa-chevron-right" style="color: #009813;"></i>
                <a href="#" style="display: inline-block; vertical-align: middle; color: #0b0b0b">Sobre Nosotros</a>
            </li>
            <li style="margin-bottom: 5px;">
                <i class="fa fa-chevron-right" style="color: #009813;"></i>
                <a href="/copa_unca" style="display: inline-block; vertical-align: middle; color: #0b0b0b">Deportes</a>
            </li>
            <li style="margin-bottom: 5px;">
                <i class="fa fa-chevron-right" style="color: #009813;"></i>
                <a href="/resultados_copa_unca" style="display: inline-block; vertical-align: middle; color: #0b0b0b">Resultados</a>
            </li>
            <li style="margin-bottom: 5px;">
                <i class="fa fa-chevron-right" style="color: #009813;"></i>
                <a href="/tabla_posiciones_copa_unca" style="display: inline-block; vertical-align: middle; color: #0b0b0b">Posiciones</a>
            </li>
            <li style="margin-bottom: 5px;">
                <i class="fa fa-chevron-right" style="color: #009813;"></i>
                <a href="/campeones_copa_unca" style="display: inline-block; vertical-align: middle; color: #0b0b0b">Campeones</a>
            </li>
            <li style="margin-bottom: 5px;">
                <i class="fa fa-chevron-right" style="color: #009813;"></i>
                <a href="/noticias" style="display: inline-block; vertical-align: middle; color: #0b0b0b">Noticias</a>
            </li>
            <li style="margin-bottom: 5px;">
                <i class="fa fa-chevron-right" style="color: #009813;"></i>
                <a href="/#" style="display: inline-block; vertical-align: middle; color: #0b0b0b">Entradas</a>
            </li>
        </ul>
    </div>
</div>

				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
					<h6 class="fw-title"></h6>
					<ul  class="recent-post" id="recentPosts"  >

					</ul>
				</div>
				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
					<h6 class="fw-title"><i class="	far fa-address-card"></i> CONTACTO</h6>
					<ul class="contact">
						<li><p ><i class="fa fa-map-marker" ></i>       Casa de la Cultura, Coronel Oviedo, Paraguay</p></li>
						<li><p ><i class="fa-brands fa-whatsapp"></i> +595 975 316051 </p></li>
						<li><p ><i class="fa fa-envelope" ></i> hola@feunca.org</p></li>
						<li><p ><i class="fa fa-clock-o" ></i> Lunes - Viernes: 08 AM - 06 PM</p></li>
					</ul>
				</div>
			</div>
		</div>

        <footer id="footer" style="background-color: #f7f7f7">


    <div class="container d-md-flex py-4" >

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          <strong><span>&copy; Federación de Estudiantes de la UNCA </span></strong> <script>document.write(new Date().getFullYear());</script>. Todos los derechos reservados.
        </div>
        <div class="credits">
        
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->
	</footer>
	<!-- Footer section end-->



	<!--====== Javascripts & Jquery ======-->
	<!--<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="{% static "js/owl.carousel.min.js" %}"></script>
	<script src="{% static "js/jquery.countdown.js" %}"></script>
	<script src="{% static "js/masonry.pkgd.min.js" %}"></script>
	<script src="{% static "js/magnific-popup.min.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="{% static "js/hamburger.js" %}"></script>
    <script src="{% static "js/newsletter.js" %}"></script>
    <script src="{% static "js/contact.js" %}"></script>
    <script src="{% static "js/posts.js" %}"></script>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>
    <script src="{% static "js/scrolltop.js" %}"></script>
</body>
</html>


